@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
  box-sizing: border-box;
}

body {
  background-color: rgba(12, 89, 156, 0.897);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0%;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
}

header {
  background-color: whitesmoke;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}